# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Testes
.pytest_cache/

# Variáveis de ambiente
.env

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store

# Build / packaging
*.egg-info/

# Logs
logs/

# Database
data/